th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}
table.dataTable thead .sorting{
    background-image:none;
}
table.dataTable thead .sorting_asc{
     background-image:none;
}
table.dataTable thead th, table.dataTable thead td{
    border-bottom: none;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom: none;
}
.dataTables_info{
	display: none;
}
.dataTables_filter{
	display: none;
}
table.DTFC_Cloned thead, table.DTFC_Cloned tfoot{
      background-color: #02C5DE;
}
.dataTables_scrollHeadInner{
   width:100%;
}
.order-column{
    width:100%;
}
table.dataTable{
    border-collapse: collapse;
}